# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test_projects\part-5-tickets-START\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
